<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css"
    />
    <script
      src="https://cdn.socket.io/4.5.0/socket.io.min.js"
      integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
      crossorigin="anonymous"
    ></script>
    <style>
      #chat_content {
        background-color: #8295b8;
        padding: 20px;
        width: 500px;
        height: 500px;
      }
      .chat_box {
        background-color: #ededed;
        width: 200px;
        height: 30px;
        margin: 20px;
      }
      .chat_me {
        position: relative;
        left: 250px;
      }
      .chat_other {
        position: relative;
        left: 15px;
      }
    </style>
  </head>
  <body>
    <div id="chat">
      <div id="chat_content">
        <div class="chat_box chat_me"></div>
        <div class="chat_box chat_other"></div>
        <div class="chat_box chat_other"></div>
        <div class="chat_box chat_me"></div>
      </div>
      <div>
        <input type="text" name="comment" />
        <button class="a" type="button" onclick="sendMsg();">전송</button>
      </div>
    </div>
    <!-- <button type="button" onclick="sendMsg();">전송</button> -->

    <script>
      //   var socket = io.connect();
      //   function sendMsg() {
      //     // $("input").val();
      //     socket.emit("sendMsg", $("input").val());
      //   }

      //   socket.on("notice", () => {});
    </script>
  </body>
</html>
