<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://cdn.socket.io/4.5.0/socket.io.min.js"
      integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h2>Hello Jerrywelt</h2>
    <button type="button" onclick="sendMsg('hello');">hello</button>
    <button type="button" onclick="sendMsg('study');">study</button>
    <button type="button" onclick="sendMsg('bye');">bye</button>
    <div id="content"></div>
    <script>
      let socket = io.connect();
      function sendMsg(msg) {
        socket.emit("send", msg);
      }
      socket.on("response", (data) => {
        let content = document.getElementById("content");
        content.innerText = data;
        console.log(data);
      });
      // 반복되는 함수 안에 이벤트를 넣어주지 말자
    </script>
  </body>
</html>
